body {
    color: #222;
    background-color: white;
    padding: 35pt;
    font: 12pt 'Merienda One';
    line-height: 120%;
    text-align: center;
}

h1 {
	color: #222;
	text-align: center;
	font: 200 100px 'Merienda One';
  margin: 10px;
  padding: 10px;
}

#searchDiv {
  height: 15%;
  width: 100%;
  position: relative;
}
#mainDiv {
  height: 85%;
  width: 100%;
  position: relative;
  border:2px solid #000000; /*will probably look cooler delete*/
}

#mainCanvas {
    /*position:absolute;*/
    width: 100%;
    height: auto;
}

input.searchBar {
	margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
	padding: .5em;
  width: 20%;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  resize: none;
  border:1.5px solid #333;
	color:#444;
  background-color: #e8e8e8;
	overflow: hidden;
	display: inline;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #222222;
  font: 12pt 'Merienda One';
  vertical-align: middle;
}

datalist.suggestionList {
  margin: 1em;
}

input:focus {
	outline: none;
}

#start::-webkit-input-placeholder, #sCross::-webkit-input-placeholder {
    color: green;
}
#start:-moz-placeholder, #sCross:-moz-placeholder {
    /* FF 4-18 */
    color: green;
}
#start::-moz-placeholder, #sCross::-moz-placeholder, {
    /* FF 19+ */
    color: green;
}
#start:-ms-input-placeholder, #sCross:-ms-input-placeholder {
    /* IE 10+ */
    color: green;
}

#end::-webkit-input-placeholder, #eCross::-webkit-input-placeholder {
    color: red;
}
#end:-moz-placeholder, #eCross:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
#end::-moz-placeholder, #eCross::-moz-placeholder, {
    /* FF 19+ */
    color: red;
}
#end:-ms-input-placeholder, #eCross:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

/*textarea.sbox {
  padding: 8px;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

textarea.ebox {
  padding: 8px;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}*/

/*input {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    resize: none;
    border:1px solid #888;
    overflow: hidden;
}*/

/*h2 {
  color: #222;
  text-align: center;
  font: 20 40px 'Merienda One';
}

h3 {
  color: #222;
  text-align: center;
  font: 100 50px 'Merienda One';
  font-size: 2em;
  margin: 10px;
  padding: 10px;
}*/